{% extends 'home.html' %}
{%block content%}
<h1>Add room</h1>
  <form method="POST">
    {% csrf_token %}
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="building_name">
      <option selected>Select the building</option>
      {%for Building in queryset%}
      <option>{{Building.building_name}}</option>
     {%endfor%}
    </select>

    <div class="mb-3">
      <label for="room_number" class="form-label">Room Name</label>
      <input type="text" required class="form-control" id="room_number" name="room_number" placeholder="Enter room name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
