{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}
<form action="/examhallsessions/" method="POST">

  <input type="hidden" name="csrfmiddlewaretoken"
    value="SAxVcmLc9wZwTAvFA8tXRIHBpyLc3FtmcTqk0zGOun0FgbnORfittqm58LhEzOCk">
  {% csrf_token %}

  <div id="div_id_date" class="mb-3"> <label for="id_date" class="form-label requiredField">
      Date<span class="asteriskField">*</span> </label> <input type="date" name="date" class="dateinput form-control"
      required id="id_date"> </div> 

  <div id="div_id_shift" class="mb-3"> <label for="id_shift" class="form-label requiredField">
    Shift<span class="asteriskField">*</span> </label> <select onchange="updateDropdowns(this.value)" name="shift"
    class="select form-select" required id="id_shift">
    <option value="" selected>---------</option>
    <option value="Morning">Morning</option>
    <option value="Day">Day</option>

  </select> </div>

  <div id="div_id_room" class="mb-3"> <label for="id_room" class="form-label requiredField">
      Room<span class="asteriskField">*</span> </label> <select name="room" class="select form-select" required
      id="id_room">

    </select> </div>
  <div id="div_id_exams" class="mb-3"> <label for="id_exams" class="form-label requiredField">
      Exams<span class="asteriskField">*</span> </label> <select name="exams" class="selectmultiple form-select"
      required id="id_exams" multiple>


    </select> </div>
  <div id="div_id_invigilators" class="mb-3"> <label for="id_invigilators" class="form-label requiredField">
      Invigilators<span class="asteriskField">*</span> </label> <select name="invigilators"
      class="selectmultiple form-select" required id="id_invigilators" multiple>


    </select> </div>


  <input type="submit" class="btn btn-success" value="Create Examhallsession">
<div class="d-flex flex-column justify-content-center align-items-center ">
  <h3>List of all the exam sessions</h3>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Shift</th>
      <th scope="col">Exams</th>
      <th scope="col">Room</th>
      <th scope="col">Invigilators</th>

    </tr>
  </thead>
  <tbody>
    {% for examhallsession in examhallsessions %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{examhallsession.date}}</td>
      <td>{{examhallsession.shift}}</td>
      <td>
        <ul>
          {% for exams in examhallsession.exams.all %}
          <li>
            {{exams}}
          </li>
          {% endfor %}
        </ul>
      </td>
      <td>{{examhallsession.room}}</td>

      <td>
        <ul>
          {% for invigilators in examhallsession.invigilators.all %}
          <li>
            {{invigilators}}
          </li>
          {% endfor %}
        </ul>
      </td>

      <td>
        
        <a href="/updateexamhallsession/{{examhallsession.slug}}" class="text-decoration-none"><span class="material-symbols-outlined">
          edit
          </span>
        </a>
        <a href="/deleteexamhallsession/{{examhallsession.slug}}" class="text-decoration-none">
          <span class="material-symbols-outlined">
            delete
            </span>
          </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function updateDropdowns(selectedOption) {
    console.log('ajax called.');
    date = document.getElementById("id_date").value;

    $.ajax({
      url: '/get-data/',
      type: 'GET',
      data: { 'date': date, 'shift': selectedOption },
      dataType: 'json',
      success: function (data) {
        exams = data.exams
        invigilators = data.invigilators
        rooms = data.rooms
        console.log("from ajax success");
        console.log(date);
        updateDependentDropdown('#id_exams', exams);
        updateDependentDropdown("#id_invigilators", invigilators);
        updateDependentDropdown("#id_room", rooms);
      },
      error: function () {
        console.log('Error occurred during Ajax request.');
      }
    });
  }

  function updateDependentDropdown(dropdownId, options) {
    var dropdown = $(dropdownId);
    dropdown.empty();
    console.log(options)
    $.each(options, function (index, option) {
      dropdown.append($('<option></option>').val(option.id).text(option.name));
    });
  }
</script>

{% endblock %}