{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<form action="/exams/" method="POST">
  {% csrf_token %}

  <div id="div_id_name" class="mb-3"> <label for="id_name" class="form-label requiredField">
      Name<span class="asteriskField">*</span> </label> <input type="text" name="name" maxlength="255"
      class="textinput form-control" required id="id_name"> </div>
  <div id="div_id_semester_type" class="mb-3"> <label for="id_semester_type" class="form-label requiredField">
      Semester type<span class="asteriskField">*</span> </label> <select name="semester_type" class="select form-select"
      id="id_semester_type">
      <option value="Odd" selected>odd</option>
      <option value="Even">Even</option>
      <option value="None">None</option>

      

    </select> </div>
  <div id="div_id_regular_or_back" class="mb-3"> <label for="id_regular_or_back" class="form-label requiredField">
      Regular or back<span class="asteriskField">*</span> </label> <select name="regular_or_back"
      class="select form-select" id="id_regular_or_back">
      <option value="Regular" selected>Regular</option>
      <option value="Back">Back</option>
      <option value="None">None</option>


    </select> </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="calendar"></div>
      </div>
      <div class="col-md-6">
        <h1>Selected date and shift</h1>
        <input type="text" id="selectedDatesWithShiftsField" name="selectedDatesWithShiftsField" class="form-control form-control-lg">

        </div>
      </div>


    </div>
  </div>
  </div>
  <div id="div_id_shift" class="mb-3"> <label for="id_shift" class="form-label requiredField">
      Shift<span class="asteriskField">*</span> </label> <select name="shift" class="select form-select" id="id_shift" multiple>
      {% for shift in shifts %}
        <option value="{{shift.id}}">{{shift.start}} to {{shift.end}}</option>
{% endfor %}
    </select> </div>

  <input type="submit" class="btn btn-success"
    value="Create Exam">

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const selectedDatesWithShifts = [];
  
        $('#calendar').fullCalendar({
          selectable: true,
          select: function (start, end, jsEvent, view) {
            const date = moment(start).format('YYYY-MM-DD');

            const selectedShift = $('#id_shift').val();
            toggleDateSelection(date, selectedShift);
          },
          unselect: function (jsEvent, view) {
            const date = moment(this.unselect().format('YYYY-MM-DD'));
            toggleDateSelection(date);
          }
        });
  
        function toggleDateSelection(date, shift) {
          const index = selectedDatesWithShifts.findIndex(item => item.date === date);
          if (index === -1) {
            selectedDatesWithShifts.push({ date: date, shift: shift }); 
          } else {
            selectedDatesWithShifts.splice(index, 1); 
          }
          updateSelectedDatesWithShiftsField();
        }
  
        function updateSelectedDatesWithShiftsField() {
          const selectedDatesWithShiftsField = document.getElementById('selectedDatesWithShiftsField');
          selectedDatesWithShiftsField.value = selectedDatesWithShifts.map(item => `${item.date}: ${item.shift}`).join(', ');
        }
      });
    </script>


    <div class="d-flex flex-column justify-content-center align-items-center ">
      <h3>List of all the Exams</h3>
    </div>
    <hr>
  <table class="table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Exam Name</th>
            <th scope="col">Semester</th>
            <th scope="col">Regular or Back</th>
            <th scope="col">Date</th>
            <th scope="col">Shift</th>
          </tr>
        </thead>
        <tbody>
          {% for name, exams in grouped_exams.items %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ name }}</td>
            <td>
              {% for exam in exams %}
              <div class="exam-details">
                {{ exam.semester_type }}
              </div>
              {% endfor %}
            </td>
            <td>
              {% for exam in exams %}
              <div class="exam-details">
                {{ exam.regular_or_back }}
              </div>
              {% endfor %}
            </td>
            <td>
              {% for exam in exams %}
              <div class="exam-details">
                {{ exam.date }}
              </div>
              {% endfor %}
            </td>
            <td>
              {% for exam in exams %}
              <div class="exam-details">
                {% for shift in exam.shift.all %}
                {{ shift.start }} to {{ shift.end }}
                {% endfor %}
              </div>
              {% endfor %}
            </td>
            <td>

              {%  for exam in exams %}
              <div class="p-1">

              <div>
          
              <a href="/updateexam/{{exam.slug}}" class="text-decoration-none">
                <span class="material-symbols-outlined">
                  edit
                </span>
              </a>
  <a href="/deleteexam/{{exam.slug}}" class="text-decoration-none">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </a>
            </div>
          </div>
              {% endfor %}

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <style>
        .exam-details {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          padding: 5px;
        }
      </style>
      

  {% endblock %}