
    {% extends 'base.html' %}
    {% block content %}


{% load crispy_forms_tags %}
<form action="/invigilators/" method="POST">
  {% csrf_token %}

  {{form|crispy}}
  <input type="submit" class="btn btn-success" value="Create Invigilator">
</form>
<hr>

<form class="d-flex mb-5 mt-5 mx-auto justify-content-center align-items-center" role="search">
  <input class="form-control me-2 w-25" type="search" name = "search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success " type="submit">Search</button>
</form>
<div class="d-flex flex-column justify-content-center align-items-center ">
  <h3>List of all the invigilators</h3>
</div>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Phone number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for invigilator in invigilators %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{invigilator.fullname}}</td>
      <td>{{invigilator.email}}</td>
      <td>{{invigilator.age}}</td>
      <td>{{invigilator.gender|title}}</td>
      <td>{{invigilator.address}}</td>
      <td>{{invigilator.phone_number}}</td>

      <td><
        <a href="/edit/" class="text-decoration-none"><span class="material-symbols-outlined">
          edit
          </span>
        </a>
        <a href="/logout/" class="text-decoration-none">
          <span class="material-symbols-outlined">
            delete
            </span>
          </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}