
    {% extends 'base.html' %}


    {% block content %}




{% load crispy_forms_tags %}
<form action="/rooms/" method="POST">
  {% csrf_token %}

  {{form|crispy}}
  <input type="submit" class="btn btn-success" value="Create Room">
</form>
<hr>

<form class="d-flex mb-5 mt-5 mx-auto justify-content-center align-items-center" role="search">
  <input class="form-control me-2 w-25" type="search" name = "search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success " type="submit">Search</button>
</form>
<div class="d-flex flex-column justify-content-center align-items-center ">
  <h3>List of all the rooms</h3>
</div>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Building</th>
      <th scope="col">Room Number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{room.building}}</td>
      <td>{{room.room_number}}</td>
      <td>
        <a href="/updateroom/{{room.slug}}/" class="text-decoration-none"><span class="material-symbols-outlined">
        edit
        </span>
      </a>
      <a href="/deleteroom/{{room.slug}}/" class="text-decoration-none">
        <span class="material-symbols-outlined">
          delete
          </span>
        </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}